*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Home4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    width: 100%;
    padding: 20px;
  }
  
  .Formalar {
    text-align: center;
    max-width: 1000px;
    width: 100%;
    padding-top: 10%;
  }
  .Formalar>p {
   font-size: clamp(10px, 4vw, 35px);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 400;
  }
  
  .center-inpp {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
  }
  
  .Center-inp {
    width: 100%;
  }
  
  .Inp-center {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .responsive-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: clamp(14px, 2vw, 18px);
    /* box-sizing: border-box; */
  }
  
  .responsive-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: clamp(14px, 2vw, 18px);
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }