*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Home{
    /* background-color: black; */
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 90vh;
}
.Home-p{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    padding-top: 14%;
}
.home-btn{
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(205, 122, 74);
    border: 1px solid rgb(205, 122, 74);
}
.home-btn:hover{
    color: white;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    transition: 0.5s;
    border: 1px solid rgb(205, 122, 74);
}
.home-btn2{
    color: white;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    border: 1px solid rgb(205, 122, 74);
}
.home-btn2:hover{
    transition: 0.5s;
    color: black;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(205, 122, 74);
    border: 1px solid rgb(205, 122, 74);
}
.flex-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 430px;
}
.Home-Center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
@media (max-width: 1100px){
    .Home-p{
        color: white;
        font-size: 40px;
        font-weight: 200;
        text-align: center;
        padding-top: 25%;
    }
}
@media (max-width: 770px){
    .Home-p{
        color: white;
        font-size: 33px;
        font-weight: 200;
        text-align: center;
        padding-top: 35%;
    }
    .home-btn{
        color: rgb(0, 0, 0);
        font-size: 15px;
        width: 180px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn:hover{
        color: white;
        font-size: 15px;
        width: 180px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        transition: 0.5s;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2{
        color: white;
        font-size: 15px;
        width: 180px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2:hover{
        transition: 0.5s;
        color: black;
        font-size: 15px;
        width: 180px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .flex-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 390px;
    }
    .Home-Center{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:30px;
    }
}
@media (max-width: 560px){
    .Home-p{
        color: white;
        font-size: 28px;
        font-weight: 200;
        text-align: center;
        padding-top: 35%;
    }
    .home-btn{
        color: rgb(0, 0, 0);
        font-size: 15px;
        width: 160px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn:hover{
        color: white;
        font-size: 15px;
        width: 160px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        transition: 0.5s;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2{
        color: white;
        font-size: 15px;
        width: 160px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2:hover{
        transition: 0.5s;
        color: black;
        font-size: 15px;
        width: 160px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .flex-btn{
        display:    flex;
        align-items: center;
        justify-content: space-between;
        width: 340px;
    }
    .Home-Center{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:30px;
    }
}
@media (max-width: 520px){
    .Home-p{
        color: white;
        font-size: 26px;
        font-weight: 200;
        text-align: center;
        padding-top: 40%;
    }
    .home-btn{
        color: rgb(0, 0, 0);
        font-size: 15px;
        width: 160px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn:hover{
        color: white;
        font-size: 15px;
        width: 160px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        transition: 0.5s;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2{
        color: white;
        font-size: 15px;
        width: 160px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2:hover{
        transition: 0.5s;
        color: black;
        font-size: 15px;
        width: 160px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .flex-btn{
        display:    flex;
        align-items: center;
        justify-content: space-between;
        width: 340px;
    }
    .Home-Center{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:30px;
    }
}
@media (max-width: 460px){
    .Home-p{
        color: white;
        font-size: 23px;
        font-weight: 200;
        text-align: center;
        padding-top: 45%;
    }
    .home-btn{
        color: rgb(0, 0, 0);
        font-size: 13px;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn:hover{
        color: white;
        font-size: 13px;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        transition: 0.5s;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2{
        color: white;
        font-size: 13px;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2:hover{
        transition: 0.5s;
        color: black;
        font-size: 13px;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .flex-btn{
        display:    flex;
        align-items: center;
        justify-content: space-between;
        width: 320px;
    }
    .Home-Center{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:30px;
    }
}

@media (max-width: 400px){
    .Home-p{
        color: white;
        font-size: 20px;
        font-weight: 200;
        text-align: center;
        padding-top: 50%;
    }
    .home-btn{
        color: rgb(0, 0, 0);
        font-size: 12px;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn:hover{
        color: white;
        font-size: 12px;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        transition: 0.5s;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2{
        color: white;
        font-size: 12px;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2:hover{
        transition: 0.5s;
        color: black;
        font-size: 12px;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .flex-btn{
        display:    flex;
        align-items: center;
        justify-content: space-between;
        width: 270px;
    }
}
@media (max-width: 350px){
    .Home-p{
        color: white;
        font-size: 18px;
        font-weight: 200;
        text-align: center;
        padding-top: 50%;
    }
    .home-btn{
        color: rgb(0, 0, 0);
        font-size: 12px;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn:hover{
        color: white;
        font-size: 12px;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        transition: 0.5s;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2{
        color: white;
        font-size: 12px;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2:hover{
        transition: 0.5s;
        color: black;
        font-size: 12px;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .flex-btn{
        display:    flex;
        align-items: center;
        justify-content: space-between;
        width: 270px;
    }
}
@media (max-width: 300px){
    .Home-p{
        color: white;
        font-size: 14px;
        font-weight: 200;
        text-align: center;
        padding-top: 50%;
    }
    .home-btn{
        color: rgb(0, 0, 0);
        font-size: 11px;
        width: 110px;
        height: 39px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn:hover{
        color: white;
        font-size: 11px;
        width: 110px;
        height: 39px;
        border-radius: 20px;
        background-color: black;
        transition: 0.5s;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2{
        color: white;
        font-size: 11px;
        width: 110px;
        height: 39px;
        border-radius: 20px;
        background-color: black;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2:hover{
        transition: 0.5s;
        color: black;
        font-size: 11px;
        width: 110px;
        height: 39px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .flex-btn{
        display:    flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
}
@media (max-width: 260px){
    .Home-p{
        color: white;
        font-size: 12px;
        font-weight: 200;
        text-align: center;
        padding-top: 50%;
        line-height: 24px;
    }
    .home-btn{
        color: rgb(0, 0, 0);
        font-size: 10px;
        width: 100px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn:hover{
        color: white;
        font-size: 10px;
        width: 100px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
        transition: 0.5s;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2{
        color: white;
        font-size: 10px;
        width: 100px;
        height: 37px;
        border-radius: 20px;
        background-color: black;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2:hover{
        transition: 0.5s;
        color: black;
        font-size: 10px;
        width: 100px;
        height: 37px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .flex-btn{
        display:    flex;
        align-items: center;
        justify-content: space-between;
        width: 230px;
    }
}