*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Home{
    /* background-color: black; */
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 60vh;
}
.Home-p{
    color: rgb(255, 255, 255);
    font-size: clamp(5px, 5vw, 55px) ;
    font-weight: 300;
    text-align: center;
    padding-top: 13%;
}
.home-btn{
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(205, 122, 74);
    border: 1px solid rgb(205, 122, 74);
}
.home-btn:hover{
    color: white;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    transition: 0.5s;
    border: 1px solid rgb(205, 122, 74);
}
.home-btn2{
    color: white;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    border: 1px solid rgb(205, 122, 74);
}
.home-btn2:hover{
    transition: 0.5s;
    color: black;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(205, 122, 74);
    border: 1px solid rgb(205, 122, 74);
}
.flex-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 430px;
}
.Home-Center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
@media(max-width: 670px){
    .Home-p{
        color: rgb(255, 255, 255);
        font-size: clamp(5px, 5vw, 55px) ;
        font-weight: 300;
        text-align: center;
        padding-top: 20%;
    }
    .home-btn{
        color: rgb(0, 0, 0);
        font-size: 15px;
        width: 170px;
        height: 35px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn:hover{
        color: white;
        font-size: 15px;
        width: 170px;
        height: 35px;
        border-radius: 20px;
        background-color: black;
        transition: 0.5s;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2{
        color: white;
        font-size: 15px;
        width: 170px;
        height: 35px;
        border-radius: 20px;
        background-color: black;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2:hover{
        transition: 0.5s;
        color: black;
        font-size: 15px;
        width: 170px;
        height: 35px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .flex-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 370px;
    }
}
@media(max-width: 430px){
    .Home-p{
        color: rgb(255, 255, 25
        5);
        font-size: clamp(5px, 4.5vw, 55px) ;
        font-weight: 300;
        text-align: center;
        padding-top: 30%;
    }
    .home-btn{
        color: rgb(0, 0, 0);
        font-size: 12px;
        width: 140px;
        height: 35px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn:hover{
        color: white;
        font-size: 12px;
        width: 140px;
        height: 35px;
        border-radius: 20px;
        background-color: black;
        transition: 0.5s;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2{
        color: white;
        font-size: 12px;
        width: 140px;
        height: 35px;
        border-radius: 20px;
        background-color: black;
        border: 1px solid rgb(205, 122, 74);
    }
    .home-btn2:hover{
        transition: 0.5s;
        color: black;
        font-size: 12px;
        width: 140px;
        height: 35px;
        border-radius: 20px;
        background-color: rgb(205, 122, 74);
        border: 1px solid rgb(205, 122, 74);
    }
    .flex-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 290px;
    }
}