*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Footer-space{
    background-color: black;
    width: 100%;
    height: 5vh;
}
.Footer{
    width: 100%;
    height: auto;
    background-color: black;
    /* border: 1px solid white; */
}
.Center-text-footer>p{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin-top: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Footer-BRR-GAS-OIL{
    display: block;
}
.Center-img-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.Footer-Work-Time>p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    font-weight: 400;
}
.Footer-Work-Time>h4{
    color: white;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-top: 10px;
    line-height: 40px;
}
.Footer-Call-number>a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-weight: 300;
    line-height: 35px;
}
.Footer-Call-number>a:hover{
    color: #CD7A4A;
    transition: 0.5s;
}
.Footer-images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
.Footer-Call-images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 215px;
    margin-top: 17px;
}
.Footer-text{
    display: block;
}
.Flex-all-divs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.Flex-all-divs{
    padding-top: 10%;
}
@media(max-width: 1130px){
    .Flex-all-divs{
        display: block;
        padding-top: 30%;
    }
    .Footer-Work-Time>p{
        text-align: center;
        margin-top: 5%;
        font-size: 25px;

    }
    .Footer-Work-Time>h4{
        text-align: center;
        font-size: 20px;
        line-height: 30px;


    }
    .Footer-Work-Time-Center{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }
    .images-a-center{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }
    .Footer-Call-number>a{
        font-size: 22px;
        
    }
    .Footer-Call-images{
        width: 180px;
    }
}
@media(max-width: 1130px){
    .Flex-all-divs{
        display: block;
    }
    .Footer-Work-Time>p{
        text-align: center;
        margin-top: 5%;
        font-size: 20px;

    }
    .Footer-Work-Time>h4{
        text-align: center;
        font-size: 17px;
        line-height: 27px;


    }
    .Footer-Work-Time-Center{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }
    .images-a-center{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }
    .Footer-Call-number>a{
        font-size: 20px;
        
    }
    .Footer-Call-images{
        width: 170px;
    }
}